body:not(:active) {
  background: linear-gradient(125deg, #25B3E5, #9198e5 65%);
  animation-name: transition;
    animation-duration: 4s;
}
@keyframes transition {
    from {
       
        opacity: 0;
    }
    to {
       
        opacity: 1;
    }
}

body {
	font-size: 30px;
	
}

.menu {
  margin: auto;
  position: static;
  width: 80%;
  padding: 8px 12px;
  background-color: rgba(200, 200, 200, 0.5);
  border: solid;
  text-align: center;
}



.menu a {
  display: inline;
  position: static;
  margin-right: 1em auto;
  border-radius: 1ex;
  width: 20%;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.menu a:hover,a:focus {
  color: #ffff;
  background-color: #000;
}

.menu img {
	float: left;
	position: absolute;
	right: 1650px;
	top: 10px;
}
.menu img:hover {
	filter: invert(100%); 
  -webkit-filter:invert(100%);
}

.bienvenue {
	margin:auto;
  position: static;
  width: 50%;
  height: 100%;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid;
  text-align: center;
  font-size:20px;
}


.bienvenue h1 {
  font-size: 50px;
}

.placeholder {
  position: absolute;
  left: 1400px;
  top: 65px;
  width: 450px;
  height: 90%;
  padding: 8px 12px;
  background: radial-gradient(#25B3E5, #9198f0 68%);
  margin: auto;
}

.placeholder img {
  position: relative;
  left:990x;
  top:15px;
}

.present {
	text-overflow: clip;
}

.langues {
	text-align: center;
	position: relative;
	left: 20px;
	top: 65px;
	width: 600px;
	height: 40%;
	border: solid #9198f0;
	margin: auto;
}

.fr {
	position: relative;
	left: 50px;
	height: 20px;
	width: 80%;
	border: solid;
	background-color: grey;	
}

.eng {
	position: relative;
	left: 50px;
	height: 20px;
	width: 80%;
	border: solid;
	background: linear-gradient(270deg, white,grey 2%);	
}

.relationelle {
	float: left;
	text-align: center;
	position: relative;
	left: 1100px;
	top: 100px;
	width: 800px;
	height: 30%;
	border: solid #25B3E5;	
	overflow: auto;
}

.technique {
	float: left;
	text-align: center;
	position: relative;
	right: 800px;
	top: 100px;
	width: 800px;
	height: 30%;
	border: solid #25B3E5;
	overflow: auto;
}

.pointS {
  position: absolute;
  left: 100px;
  top: 65px;
  width: 450px;
  height: 90%;
  padding: 8px 12px;
  background: linear-gradient(120deg, #25B3E5,#9198f0 90%);
  margin: auto;
}

.Airfrance {
  position: absolute;
  left: 1400px;
  top: 65px;
  width: 450px;
  height: 90%;
  padding: 8px 12px;
  background: radial-gradient(#25B3E5, #9198f0 68%);
  margin: auto;
}

.pointS img {
  position: relative;
  left:990x;
  top:15px;
}

.Airfrance img {
  position: relative;
  left:990x;
  top:15px;
}

.diplome {
	position: absolute;
	left: 1300px;
	top: 100px;
}


.diplome img {
	position: relative;
	left: -120px;
}

.parcours {
	border: solid #25B3E5;
	position: absolute;
	top: 100px;
	height: 70%;
	width: 50%;
}

.parcours h2 {
	text-align: center;
}

.attentes {
	text-align: center;
}
